@import "tailwindcss";

@theme{
    --color-navy:#0F172A;
    --color-white:#FFFFFF;
    --color-accent:#22D3EE;
    --font-Heading:'Inter Bureau Bold', sans-serif;
    --font-Body:'IBM Plex Mono Light', monospace;
}
@font-face {
    font-family: "Inter Bureau Bold";
    src: url("./assets/fonts/InterBureauBold-ZDKl.otf") format("opentype");
}
@font-face {
    font-family: "IBM Plex Mono Light";
    src: url("./assets/fonts/IbmPlexMonoLight-g8Z6.otf") format("opentype");
}